html {
  background-color: #8B7D7B;
  font: normal 100%/2 Georgia,serif;
}

body {
  margin: 2em auto;
  max-width: 20em;
 
  padding-bottom: 1.5rem;

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px #CD5B45;
}

h1 {
  margin-top: 0;

  background-color: black;

  font-weight: normal;
  text-align: center;
}

h2 {
  margin-bottom: 0;
  padding: 0 1rem;

  font-weight: normal;
}


dl {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
}

dt {
  clear: left;
  float: left;
  width: 9em;

  color: #666;
}

dd {
  margin: 0;
  float: left;
}